@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Yuji+Syuku&display=swap');

html,
body,
#root,
#root > div {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
